html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}

button{
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #808080;
}

.card{
    border:1px solid #ff6a00;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,1);
    padding:15px;
    margin: 10px;
    background-color: #ffffff;
}
